
<div style="margin: auto; width: 400px;">
<h1 style="margin: auto;">My Subject</h1>



<table class="table" style="margin-top: 70px;">
  <thead>

    <tr>
      
      <th scope="col">subject name</th>
    </tr>
  </thead>
  

  <tbody>
    {{#each student_subj}}
    <tr>
    
      <td>{{Subject.sub_name}}</td>
     
    </tr>
    {{/each}}
  </tbody>
</table>

</div>