<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_departs</title>
    <style>
        a{
            text-decoration: none;
            color: rgb(253, 251, 251);
            font-size: 20px;
        }
        body{
             background-color:  rgb(13, 10, 37);
                     font-size:16px;
                     position: relative;
                   
        }
           
        *{
       font-family: sans-serif;
       font-weight: bold;
        color: aliceblue;
        }
        
        .container1{
         
       width: 100%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 11px;
            }
        h1{
       padding-top: 25px;
    position: relative;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
      }
        



      .link{
  position: relative;
    top: 29px;
    font-size: 25px;


      }  
      .btn1{
    position: relative;
    top: -84px;
    right: -726px;
    height: 50px;
    color: white;
    border: solid;
    left: 838px;
    width: 256px;
    font-weight: bold;
    background-color: #cff7ff99;
    font-size: large;
    border-radius: 5px;
    font-family: cursive;
    }
    .btn1:hover{
   background-color: rgb(13, 10, 37);
          }
          
        .btn2{
         position: relative;
    width: 136px;
    font-weight: bold;
    height: 44px;
    border: solid;
    top: 3px;
    left: -4px;
    color: white;
    background-color: #cff7ff99;
    font-size: large;
    border-radius: 5px;
    font-family: cursive;
          
        }  
    
        .btn2:hover{
   background-color: rgb(13, 10, 37);
          }


   .btn3{
       position: relative;
    width: 136px;
    font-weight: bold;
    height: 44px;
    border: solid;
    top: -40px;
    left: 139px;
    color: white;
    background-color: #cff7ff99;
    font-size: large;
    border-radius: 5px;
    font-family: cursive;
          
        }

        .btn3:hover{
   background-color: rgb(13, 10, 37);
          }


         table,th,td{
                 margin: 10px;
                 font-size: 20px;
        }
            


    </style>
</head>

<body>



 <div class="container1">   
    <h1>All Departments</h1>
    <br>
    <div  >
      <button type="button" class="btn1">

        <a href="/departments/create"  >Add New Department</a>
    </button>
    </div>





    <table class="table">
      <thead>
        <tr>
          
          <th style="font-style:italic;font-size:26px;" scope="col">Dept_name</th>
          <th style="font-style:italic;font-size:26px;" scope="col">Operations</th>
        </tr>
      </thead>


      <tbody>

        {{#each  departments}}
      <tr>
      <td ><a href="/departments/{{_id}}" class="link">{{Dept_name}}</a></td>

    <td>
            <button type="button" class="btn2"><a href="/departments/{{_id}}/edit">Edit 📋</a></button>
            
          <form action="/departments/{{_id}}?_method=DELETE" method="POST"  >
                    <button type="submit" class="btn3" onclick="confirm('Are you sure you wish to delete this Department?');">Delete ❌</button>

          </form>
            
          </td>
    </tr>
    {{/each}}
        
      </tbody>

    </table>


</div>
</body>
</html>