<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  style="margin-top: 60px;">
    <h1 style="margin-left:450px">Attendance</h1>

    <table border="4"  width="800" style="margin-left: 150px;">
      <caption>
        Students Attendance
      </caption>
      <tr>
        <th>Student Name</th>
        <th>Id</th>
        <th>Attendance</th>
      </tr>
      <tr>
        <td>Osama</td>
        <td>200361</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Ali</td>
        <td>200582</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Maram</td>
        <td>200478</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Roaa</td>
        <td>200321</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Eman</td>
        <td>200361</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Fares</td>
        <td>200582</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Mariam</td>
        <td>200478</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Rola</td>
        <td>200321</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Rola</td>
        <td>200321</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Rola</td>
        <td>200321</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Rola</td>
        <td>200321</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Fares</td>
        <td>200582</td>
        <td>0</td>
      </tr>
      
    </table>
</body>
</html>