<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>homepage</title>
    <style>
        body{
               background-color: rgb(13, 10, 37);

        }
         .wrap1{
           width: 1000px;
    position: relative;
    margin: auto;
    left: -92px;
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
        }


        .wrap{
    margin-left: 150px;
    width: 1100px;
    position: relative;
    {{!-- margin: auto; --}}
    left: -92px;
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
        }
        .card {
           box-shadow: 0 3px 14px 0 rgba(222, 201, 201, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border: 2px #ccc solid;
    float: left;
    padding: 0px;


        }
        .card button {
           border: none;
    outline: 0;
    padding: 19px;
    margin-top: 30px;
    color: white;
    background-color: #cff7ff99;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: 900;
        }
        .card-body{
            padding: 30px,50px;
background-color: rgb(45 33 90 / 84%);
    border-radius: 20px;        }
    
        .card button:hover {
            opacity: 0.7;
               background-color: rgb(13, 10, 37);

        }
        .btn {
                display: flex;
         }

        .btn button {
                border-radius: 7px;
                width: 215px;
                border: solid;
                height: 38px;
                font-size: 25px;
                position: relative;
                left: 44px;
                display: block;
                font-weight: 700;
                margin-top: 29px;
                
                color: #ecf0ec;
                background-color: black;

            }
            .log-btn :hover{
                background-color: #f7faf8;
                border-color: black;
                color: black;
            }
    
    </style>
</head>
<body>
    <div class="wrap">
        <div class="card">
            <div class="card-body">
                <img src="../images/department.jpg" alt="department" width="80%">
                <p><button   onclick="window.location.href = '/departments';">Department</button></p>
            </div>
        </div> 

        
        <div class="card">
            <div class="card-body">
              <img src="../images/subject.jpg" alt="subject" width="80%">
              <p><button  onclick="window.location.href = '/subjects';">Subject</button></p>
            </div>
        </div >
         

          <div class="card">
            <div class="card-body">
                <img src="../images/Doctor.jpg" alt="Doctor" width="80%">
                <p><button  onclick="window.location.href = '/doctorAdmin/getAllDoctors';">Doctor</button></p>
            </div>
        </div>  
        </div>

        <div class="wrap1">

        <div class="card" >
            <div class="card-body">
                <img src="../images/student.jpg" alt="Student" width="80%">
                <p><button  onclick="window.location.href = '/student';">Student</button></p>
            </div>    
        </div> 

        
        <div class="card">
            <div class="card-body">
              <img src="../images/subject.jpg" alt="subject" width="80%">
              <p><button  onclick="window.location.href = '/absence/absence';">Attendance</button></p>
            </div>
        </div >
            


    </div> 
    
    
</body>
</html>