
.
 

<form action="/student" method="post" class="addDoctorForm" style=" border: solid  rgb(16, 17, 17) 1px;">

    
    <h2 class="text-center">Add a new Student</h2>
    

    
    <div class="my-3 inputDoctorData">
        <label for="">Name</label>
        <input type="text" class="form-control" name="std_name" >
    </div>

    
    <div class="my-3 inputDoctorData">
        <label for="">Academic Number</label>
        <input type="number" class="form-control" name="std_Academic" >
    </div>

    
    <div class="my-3 inputDoctorData">
        <label for="">Password</label>
        <input type="text" class="form-control" name="std_password">
    </div>

    
    <div class="my-3">
        <button type="submit" class="btn btn-info addDoctorbtn" style="color: rgb(18, 7, 58);">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z" fill="rgba(255,255,255,1)"></path>
            </svg>
            Add
        </button>
    </div>

</form>
  